/* *{
    padding: 0;
    margin: 0;
} */
.outer
{
height:1400px;
width:1000px;
/*border:1px solid white; */
margin:0px auto; 
}


body
{
background-color:green;

}


.nav
{
height:50px;
width:1000px;
padding-top: 8px;
background-color:black;
border-radius:20px 20px 0px 0px;

}
.nav ul
{
list-style-type:none;

}

.nav ul li
{
display:inline;
/* border:1px solid; */
padding:15px;
margin: 15px;
}



.nav ul li a
{
color:white;
text-decoration:none;
font-family:calibari;
}



.nav ul li:hover
{
background-color:red;
border-radius: 15px;
}



.slider
{
height:250px;
width:1000px;
/* border:1px solid; */
background-color:white;
margin-top:5px;
background-image: url("./images/sofa.jpeg");
background-size:cover;

}
.papa
{
height:800px;
width:1000px;
//border:1px solid;
background-color:transparent;
margin-top:5px;
}















.left
{
height:800px;
width:700px;
background-color:white;
padding: 10px;
box-sizing: border-box;
float:left;
border-radius:0px 0px 0px 20px;
}
.left1
{
height:200px;
width:700px;
/* background-color:red; */
background-image: url("./images/girl.jpeg");
background-size: cover;
}
.right
{
height:800px;
width:300px;
background-color:lightgreen;
padding: 20px;
box-sizing: border-box;
float:right;
border-radius:0px 0px 20px 0px;

}

.footer
{
height:270px;
width:1000px;
background-color:white;
border-radius:20px 20px 20px 20px;
margin-top:20px;
border:1px solid white;

}
.one
{
height:240;
width:310px;
/* border:1px solid; */
margin-top:15px;
margin-left:15px;
float:left;
padding: 5px;
box-sizing: border-box;
}
span
{
    color: rgb(208, 226, 43);
}


.a1
{
    height: 160px;
    width: 300px;
    /* border: 1px solid; */
    background-image: url("./images/gallery in one image.jpeg");
    background-size: cover;
}






